<html>
  <head></head>
  <body>
    <h2>Click Here To List A Puppy</h2>
    <form action="/">
      Name:<input type="text">
      Breed:<input type="text">
      Age:<input type="text">
    </form>
  </body>
</html>